<!-- Navbar -->
<app-navbar></app-navbar>

<div class="min-h-screen py-10 px-4">
  <!-- Bienvenida -->
  <div class="max-w-4xl mx-auto text-center bg-white border-t-4 border-red-500 rounded-lg shadow p-6">
    <h1 class="text-3xl font-bold mb-1">¡Bienvenido a SmartVitals!</h1>
    <p class="text-sm text-gray-700">Resumen general del sistema de monitoreo médico</p>
  </div>

  <!-- Grid de tarjetas para admin y doctor-->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 max-w-5xl mx-auto mt-10"
    *ngIf="currentUser.role === 'doctor'">

     <a routerLink="/createPaciente"><app-cards icon="➕👤" title="AGREGAR PACIENTE" subtitle="Registrar un nuevo paciente" borderColor="border-green-500" />
      </a>
      <a routerLink="/records"><app-cards icon="👥" title="EXPEDIENTES" subtitle="Expedientes de pacientes" borderColor="border-blue-500" /></a>
    <a routerLink="/stadistics"><app-cards icon="📊" title="ESTADISTICAS" subtitle="Ver reportes y estadísticas" borderColor="border-red-500" /></a>
  </div>
  <!-- Grid de tarjetas para paciente -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 max-w-5xl mx-auto mt-10" *ngIf="currentUser.role === 'patient'">
    <a routerLink="/records">
      <app-cards icon="📊" title="EXPEDIENTES" subtitle="Ver mis expedientes" borderColor="border-red-500" />
    </a>
    <a routerLink="/panel">
      <app-cards icon="📊" title="MEDICIÓN" subtitle="Ver medición en tiempo real" borderColor="border-red-500" />
    </a>
  </div>
  <!-- Grid de tarjetas para admin -->
  <div class="grid grid-cols-1 gap-6 max-w-5xl mx-auto mt-10" *ngIf="currentUser.role === 'admin'">
    <a routerLink="/users"><app-cards icon="👥" title="USUARIOS" subtitle="Gestionar usuarios" borderColor="border-green-500" /></a>
  </div>
</div>